button {
    background-color: aqua;
    font-family: sans-serif;
    font-size: large;
}
h1 {
    font-size: xx-large;
    font-family: sans-serif;
    color: brown;
}
h2 {
    font-size: xx-large;
    font-family: sans-serif;
    color: crimson;
}
h3 {    color:aqua;}
